html {
	background-color: transparent;
}

body {
	height: 100%;
	width: 100%;
	background-color: transparent;
	color: white;
	font-family: 微軟正黑體,Arial,sans-serif,"Helvetica Neue",Helvetica;
}
.main{
	height: 100%;
    width: 100%;
    display: table;
}
.wrapper{
	display: table-cell;
    height: 100%;
	width: 100%;
    vertical-align: middle;
	text-align: center;
}
#container {
	position: relative;
	margin: 0 auto;
	width: 760px;
	text-align: left;

}

#SettingForm{
	background-image:url('../images/connection setting-2.png');
	background-repeat: no-repeat;
	background-position: bottom center;
	min-height: 750px;
	min-width: 1050px;
}
.descLabel{
	width:100%;
	padding-bottom:20px;
}
.settingContainer{
	width:600px;
	display:inline-block;
	width: 810px;
	padding-top: 110px;
}
#settingHead{
	padding-top: 10px;
	padding-bottom: 42px;
}
#settingBody{
	border-top:1px solid #ffffff ;
	text-align:center;
	padding-top:60px;
}
#settingBodyInner{
	text-align:left;
	width:460px;
	margin: 0px auto;
}
 img{
	border: 0px;

}
#settingList
{
    list-style-type: none;
	margin:0;
}
#settingList li
{
	padding-bottom:20px;
}

#settingList label{
	display:inline-block;
	padding-left:20px;
	width:100px;
}

#connectStatusDiv{
	padding-top:10px;
	padding-left:145px;
}

input[type="radio"] {
margin: 0px;
}

.button-group{
	padding-top:5px;
	padding-left:123px;
	width: 350px;
}

.settingInput[type="text"], .settingInput[type="password"] {
border: 1px solid #56abc8;
background: rgba(100%,100%,100%,0.2);
color: white;
padding: 3px 5px;
font-size: 12px;
-webkit-border-radius: 3px;
width: 300px;
}

.settingInput[type="text"]:focus, .settingInput[type="password"]:focus {
	border-color:#f5f493;
	box-shadow: 0 0 6px 0px rgba(255,255,255,.6);
	transition: all 0.5 ease; 
}

/***** button style *****/
.myBtn{
	background:rgba(100%,100%,100%,0.8);
	border: 1px solid #bababa;
	padding: 3px 10px;
	margin-right:15px;
}
.myBtn:hover:not(.disabled){
	background:-webkit-linear-gradient(top, #ffffff 0%,#b2d6fb 100%);
	opacity:.8; 
}
.myBtn:active:not(.disabled){
	background:#3c8cb5;
	border: 1px solid #4aa2c3;
	box-shadow: inset 0 2px 3px 0px rgb(42,109,156);
	color:#ffffff;
	transition: all 0.5 ease;
}
.myBtn:focus{
	border: 1px;
}

[class^="icon-"], [class*=" icon-"] {
display: inline-block;
width: 20px;
height: 20px;
line-height: 20px;
vertical-align: text-top;
background-position: 0px 0px;
background-repeat: repeat;
margin-top: 0px;
}

.button-group i.icon-cancel{
	background-image: url('../images/20x20/Cancel_01.png');
}
.button-group a:active i.icon-cancel{
	background-image: url('../images/20x20/Cancel_02.png');
}

.button-group i.icon-add{
	background-image: url('../images/20x20/Add_01.png');
}
.button-group a:active:not(.disabled) i.icon-add{
	background-image: url('../images/20x20/Add_02.png');
}

/***** button style end *****/

#messageModal{
	color:#ffffff;
	background-image: url('../images/03.png');
	border-radius: 11px;
	width: 600px;
	height: 340px;	
}

#messageHeader{
	text-align: center;
}

.modal-body{
	border-top:1px solid #ffffff ;
	padding: 20px 0px 0px 0px;
	margin: 0px 15px 15px 15px;
}

.modal-header{
	border-bottom:0px;
	text-align: center;
}