<!DOCTYPE html><html><head>
    <title></title>
    <script src="../bower_components/webcomponentsjs/webcomponents-loader.js"></script>
    <link rel="import" href="../bower_components/polymer/polymer.html">
    <link rel="import" href="../bower_components/iron-icons/iron-icons.html">
    <link rel="import" href="../bower_components/iron-icons/editor-icons.html">
    <link rel="import" href="../bower_components/iron-icons/av-icons.html">
    <link rel="import" href="../bower_components/iron-icons/notification-icons.html">
    <link rel="import" href="../bower_components/app-layout/app-layout.html">
    <link rel="import" href="../bower_components/paper-button/paper-button.html">
    <link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
    <link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="../bower_components/paper-fab/paper-fab.html">
    <link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
    <link rel="import" href="../bower_components/paper-toast/paper-toast.html">
    <link rel="import" href="../bower_components/paper-tooltip/paper-tooltip.html">
    <link rel="import" href="../bower_components/paper-input/paper-input.html">

    <style is="custom-style" include="iron-flex iron-flex-alignment iron-flex-factors iron-positioning"></style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">

    <link rel="stylesheet" href="../bower_components/angular/angular-csp.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body unresolved="" ng-app="downloadVideos" ng-csp="" ng-controller="MainController">

<app-header>
    <app-toolbar ng-if="license.serverError" style="background: #ff5722;">
            <div class="flex">{{getMessage('CANT_REACH_SERVER')}}</div>
            <div>
                <paper-fab mini="" icon="notification:sync-problem" style="background-color:dodgerblue" ng-click="refreshUser()"></paper-fab>
            </div>
    </app-toolbar>

    <app-toolbar ng-if="motd" style="background: #ffeb3b; color: #333; fill: #333;">
            <div class="flex" ng-bind-html="getMotdMessage()"></div>
            <div>
            <paper-fab mini="" icon="done-all" ng-click="deleteMotd()"></paper-fab>
            </div>
    </app-toolbar>

    <app-toolbar>
        <paper-tabs id="tabs" selected="0" self-end="">
            <paper-tab name="currentTab" ng-click="filterThisTab()">{{getMessage('currentTab')}}</paper-tab>
            <paper-tab name="allTabs" ng-click="filterAllTabs()">{{getMessage('allTabs')}}</paper-tab>
            <paper-tab name="payment" ng-click="showPayment();">
                <paper-fab mini="" icon="settings"></paper-fab>
            </paper-tab>
        </paper-tabs>
    </app-toolbar>

    <div class="container layout vertical center">
        <div class="videoCards" ng-show="payment">
            <app-header>
                <app-toolbar style="margin-bottom:10px;background: #0f9d58">
                    <span class="flex">
                        <span ng-if="!user.data">
                            {{getMessage("You are not logged into google chrome.")}}<br>
                            <span style="font-size:0.8em">{{getMessage("Please go to your browser settings.")}}</span>
                        </span>
                        <span ng-if="license.product">
                            {{getMessage('You have a ' + license.product.name)}}
                        </span>
                    <div ng-if="license.license.valid.forever">{{getMessage('Valid forever')}}</div>
                    <div ng-if="license.license.valid.until" style="font-size: 0.8em">{{getMessage('Valid until')}}
                        {{license.license.valid.until.toLocaleString()}}
                        <span ng-if="license.expired" style="display:block;font-weight: bold">{{getMessage('License expired ;(')}}</span>
                    </div>
                    </span>
                </app-toolbar>
                <app-toolbar ng-if="loadingProducts" style="margin-bottom:10px">
                    <span class="flex">
                        {{getMessage('Loading products')}}
                    </span>
                </app-toolbar>
                <app-toolbar ng-if="cantLoadProducts &amp;&amp; !loadingProducts" style="margin-bottom:10px">
                    <span class="flex">
                        {{getMessage('Problem loading products ;(')}}
                    </span>
                </app-toolbar>

                <app-toolbar ng-repeat="product in products" style="margin-bottom:10px">
                    <span class="flex">
                        {{getMessage('Buy a ' + product.name)}}
                        <div style="font-size:1.5rem">{{product.price|currency:'$'}}</div>
                    </span>
                    <paper-fab mini="" icon="editor:attach-money" ng-click="purchaseProduct(product);"></paper-fab>
                </app-toolbar>
                <app-toolbar style="background: #fff;color:#333;margin-bottom:10px">
                    <span class="flex">{{getMessage('Reload Data from server')}}</span>
                    <paper-fab mini="" icon="notification:sync-problem" style="background-color:#0f9d58" ng-click="refreshUser()"></paper-fab>
                </app-toolbar>
                <app-toolbar style="background: #fff;color:#333;margin-bottom:10px">

                    <span class="flex">
                        <a href="" ng-click="openLink('http://www.vimeo-download-videos.com/');" target="_blank">{{getMessage('homepage')}}</a>
                    </span>
                    <paper-fab mini="" icon="launch" style="background-color:#0f9d58" ng-click="openLink('http://www.vimeo-download-videos.com/');"></paper-fab>
                </app-toolbar>
                <app-toolbar style="background: #fff;color:#333;margin-bottom:10px">
                    <span class="flex"><a href="" ng-click="openLink('https://downloadvimeovideos.uservoice.com');">{{getMessage('help')}}</a></span>
                    <paper-fab mini="" icon="launch" ng-click="openLink('https://downloadvimeovideos.uservoice.com');" style="background-color:#0f9d58"></paper-fab>
                </app-toolbar>
                <app-toolbar style="background: #fff;color:#333;margin-bottom:10px">
                    <span class="flex"><a href="" ng-click="openLink('https://chrome.google.com/webstore/detail/download-vimeo-videos-pre/phpaiffimemgakmakpcehgbophkbllkf/reviews');">
                        {{getMessage('Review App')}}</a></span>
                    <paper-fab mini="" icon="launch" ng-click="openLink('https://chrome.google.com/webstore/detail/download-vimeo-videos-pre/phpaiffimemgakmakpcehgbophkbllkf/reviews');" style="background-color:#0f9d58"></paper-fab>
                </app-toolbar>
            </app-header>
        </div>
        <div class="videoCards" ng-hide="payment">
            <div class="videoCard" ng-repeat="video in videos  track by $index" style="background-image: url('{{video.video.thumbs[640]}}');">
                <div>
                    <div class="card-header" layout="" horizontal="" center="">
                        <p>{{video.video.title}}</p>
                    </div>
                    <paper-icon-button ng-if="video.download.state.current=='complete'" icon="cloud-done" title="Downloaded" class="medium iconDownload" ng-click="downloadVideo(video)"></paper-icon-button>
                    <paper-icon-button ng-if="video.download.state.current=='interrupted'" icon="cloud-off" title="Error" class="medium iconDownload" ng-click="downloadVideo(video)"></paper-icon-button>
                    <paper-icon-button ng-if="video.download.state.current=='in_progress'" icon="cloud-queue" title="Downloading" class="medium iconDownload" ng-click="downloadVideo(video)"></paper-icon-button>
                    <paper-icon-button ng-if="!video.download" icon="cloud-download" class="medium iconDownload" title="Click to Download" ng-click="downloadVideo(video)"></paper-icon-button>

                    <paper-icon-button class="medium iconOpen" ng-show="video.download.state.current=='complete'" ng-click="playVideo(video)" icon="av:videocam" title="Open video"></paper-icon-button>
                    <paper-icon-button class="medium iconRemove" ng-click="removeVideo(video)" icon="remove-circle-outline"></paper-icon-button>
                </div>
                <input ng-click="selectMe($event);" class="downloadLink" ng-hide="license.expired" value="{{video.downloadURL}}">
            </div>


            <app-header ng-hide="videos">
                <app-toolbar style="margin-bottom:10px;background: #ffeb3b; color: #333; fill: #333;">
                    <span class="flex">{{getMessage('Hey ! You need some videos ;)')}}
    <br>
                        <span style="font-size:0.8em">{{getMessage('Go to')}} <a target="_blank" href="http://vimeo.com/channels/staffpicks/">vimeo.com</a> {{getMessage('or reload the page')}}</span>
                    </span>
                </app-toolbar>
            </app-header>

        </div>


    </div>
</app-header>

<script src="../bower_components/angular/angular.min.js"></script>
<script src="main.js"></script>


</body></html>