@import (reference) './variables.less';

button, .button-style {
  .defaultBold();
  background: 0;
  outline: 0;
  padding: 0;
  line-height: normal;
  position: relative;
  min-width: 180px;
}

.button-style {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  user-select: none;
}

button a {
  color: inherit;
  text-decoration: inherit;
  padding: 0;
  display: inherit;
  line-height: normal;
  align-items: inherit;
}

.btn() {
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  letter-spacing: .5px;
  outline: none;
  padding: 0 10px;
  text-align: center;
  transition: all 0.2s ease;
  cursor: pointer;
  user-select: none;
}

.btn-small() {
  .btn;
  height: 32px;
  font-size: 12px;
  line-height: 32px;
}

.btn-large() {
  .btn;
  font-size: 14px;
  height: 40px;
}


.btn-primary() {
  background: @palmetto;
  border: 1px solid transparent;
  color: @white;
  &:hover {
    color: @white;
    background-color: @lime;
    border: 1px solid @lime;
    box-shadow: 0px 2px 8px fade(@smoke, 30%);
  }
  &:active {
    color: @sage;
    background-color: @lime;
    border: 1px solid @lime;
    box-shadow: none;
  }
  &:disabled {
    border-color: #ececec;
    background: #f5f5f5;
    color: #b7b7b7;
    box-shadow: none;
    cursor: default;
  }
}

.btn-primary-outline {
  background: #fff;
  border: 1px solid @palmetto;
  color: @palmetto;
  &:hover {
    color: @lime;
    border: 1px solid @lime;
    box-shadow: 0px 2px 8px fade(@smoke, 30%);
  }
  &:active {
    color: @sage;
    border: 1px solid @lime;
    box-shadow: none;
  }
  &:disabled {
    border-color: #ececec;
    background: #f5f5f5;
    color: #b7b7b7;
    box-shadow: none;
    cursor: default;
  }

}

.btn-secondary() {
  background: #f1f1f1;
  border-color: #dcdcdc; 
  color: @silver;
  &:hover {
    border-color: @smoke;
    background: @silverGradient;
    box-shadow: 0px 2px 8px fade(@smoke, 30%);
  }
  &:active {
    border-color: fade(@midnightLight, 90%);
    box-shadow: none;
  }
  &:disabled {
    border-color: #ececec;
    background: #f5f5f5;
    color: #b7b7b7;
    box-shadow: none;
    cursor: default;
  }
}


.btn-tertiary() {
  border: 2px solid @lightGray;
  border-width: 2px;
  background-color: #fff;
  color: @gray;
  &:hover {
    border-color: fade(@gray, 30%);
    background-color: #fff;
    box-shadow: 0px 2px 8px fade(@gray, 30%);
    color: @gray;
  }
  &:active {
    box-shadow: none;
    color: @gray;
  }
}



.button-group {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  button, .button-style {
    flex: 1;
    &:first-child {
      margin-right: 5px;
    }
    &:last-child {
      margin-left: 5px;
    }
  }
  @media (max-width: 556px) {
    flex-direction: column;
    button, .button-style {
      width: 100%;
      &:first-child {
        margin: 0;
        margin-bottom: 20px;
      }
      &:last-child {
        margin: 0;
      }
    }
  }
}

button.paypal {
  background: #fff;
  border-color: @gray;
}


.primary-btn-small {
  .btn-small;
  .btn-primary;
}


.primary-btn-large {
  .btn-large;
  .btn-primary;
  &.outline {
    .btn-primary-outline;
  }
}


.secondary-btn-small {
  .btn-small;
  .btn-secondary;
}


.secondary-btn-large {
  .btn-large;
  .btn-secondary;
}


.tertiary-btn-small {
  .btn-small;
  .btn-tertiary;
}


.tertiary-btn-large {
  .btn-large;
  .btn-tertiary;
}

button, .button-style, button:hover, .button-style:hover, button:active, .button-style:active, button.active, .button-style.active {
  &:disabled {
    border-color: #ececec;
    background: #f5f5f5;
    color: #b7b7b7;
    box-shadow: none;
    cursor: default;
  }
  &[disabled] {
    border-color: #ececec;
    background: #f5f5f5;
    color: #b7b7b7;
    box-shadow: none;
    cursor: default;
  }
}