@import (reference) './variables.less';
@import (reference) './mixins.less';
@import "./reset.less";
@import "./typography.less";
@import "./buttons.less";
@import "./forms.less";


.pac-container { // Google autocomplete form
  z-index: 99999;
}

.logo {
  flex-shrink: 0;
  cursor: pointer;
  background-image: url("https://cdn.ivaws.com/wikibuy-assets/images/logo_green.svg");
  width: 120px;
  height: 30px;
  &.center {
    display: block;
    margin: 0 auto;
    justify-self: center;
  }
  &.white {
    .at2x('wikibuy_logo_white.png', 120px, 30px);
  }
  &.w-block {
    background-image: url("https://cdn.ivaws.com/wikibuy-assets/images/wb-logo-block.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 35px;
    height: 35px;
  }
}

.pay-pal-icon {
  width: 54px;
  height: 14px;
  display: inline-block;
  background-position: left;
  vertical-align: middle;
}

.pay-pal-logo {
  flex-shrink: 0;
  cursor: pointer;
  background-image: url("https://cdn.ivaws.com/wikibuy-assets/images/pay-pal-logo.svg");
  width: 150px;
  height: 29px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card-icon {
  width: 32px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  background-size: contain;
  margin-right: 5px;
  // .at2x('credit_cards/cc-default-32.png', 28px, 18px);
}
.visa {
  background-image: url("https://cdn.ivaws.com/wikibuy-assets/images/credit_cards/visa.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.mastercard {
  background-image: url("https://cdn.ivaws.com/wikibuy-assets/images/credit_cards/mastercard.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.amex, .american.express {
  background-image: url("https://cdn.ivaws.com/wikibuy-assets/images/credit_cards/amex.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.discover {
  background-image: url("https://cdn.ivaws.com/wikibuy-assets/images/credit_cards/discover.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.paypal {
  .at2x('credit_cards/cc-paypal-32.png', 28px, 18px);
}
.dinersclub {
  background-image: url("https://cdn.ivaws.com/wikibuy-assets/images/credit_cards/dinersclub.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.jcb {
  background-image: url("https://cdn.ivaws.com/wikibuy-assets/images/credit_cards/jcb.svg");
  background-repeat: no-repeat;
  background-size: contain;
}



// Arrows
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #a3a3a3;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #a3a3a3;
}


// Chevron
.chevron::before {
  font-size: 20px;
  border-style: solid;
  border-width: 0.10em 0.10em 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 0.15em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.45em;
}

.chevron.right:before {
  left: 0;
  transform: rotate(45deg);
}

.chevron.bottom:before {
  top: 0;
  transform: rotate(135deg);
}

.chevron.left:before {
  left: 0.25em;
  transform: rotate(-135deg);
}


.zoom-90 {
  .extension-download-overlay {
    .messaging-container {
      top: 340px;
    }
  }
}
.zoom-75 {
  .extension-download-overlay {
    .messaging-container {
      top: 400px
    }
  }
}
.zoom-67 {
  .extension-download-overlay {
    .messaging-container {
      top: 500px
    }
  }
}
.zoom-50 {
  .extension-download-overlay {
    .messaging-container {
      top: 600px
    }
  }
}





/*
 * Legal Disclaimer
 *
 * These Fonts are licensed only for use on these domains and their subdomains:
 * wikibuy.com
 *
 * It is illegal to download or use them on other websites.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Lineto.com, 2017
 */


@font-face {
    font-family: "Circular-Pro-Book";
    src:url("https://cdn.ivaws.com/wikibuy-assets/font/lineto-circular-pro-book.eot");
    src:url("https://cdn.ivaws.com/wikibuy-assets/font/lineto-circular-pro-book.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.ivaws.com/wikibuy-assets/font/lineto-circular-pro-book.woff2") format("woff2"),
        url("https://cdn.ivaws.com/wikibuy-assets/font/lineto-circular-pro-book.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circular-Pro-Blackitalic";
    src:url("https://cdn.ivaws.com/wikibuy-assets/font/lineto-circular-pro-blackitalic.eot");
    src:url("https://cdn.ivaws.com/wikibuy-assets/font/lineto-circular-pro-blackitalic.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.ivaws.com/wikibuy-assets/font/lineto-circular-pro-blackitalic.woff2") format("woff2"),
        url("https://cdn.ivaws.com/wikibuy-assets/font/lineto-circular-pro-blackitalic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circular-Pro-Black";
    src:url("https://cdn.ivaws.com/wikibuy-assets/font/lineto-circular-pro-black.eot");
    src:url("https://cdn.ivaws.com/wikibuy-assets/font/lineto-circular-pro-black.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.ivaws.com/wikibuy-assets/font/lineto-circular-pro-black.woff2") format("woff2"),
        url("https://cdn.ivaws.com/wikibuy-assets/font/lineto-circular-pro-black.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circular-Pro-Bookitalic";
    src:url("https://cdn.ivaws.com/wikibuy-assets/font/lineto-circular-pro-bookitalic.eot");
    src:url("https://cdn.ivaws.com/wikibuy-assets/font/lineto-circular-pro-bookitalic.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.ivaws.com/wikibuy-assets/font/lineto-circular-pro-bookitalic.woff2") format("woff2"),
        url("https://cdn.ivaws.com/wikibuy-assets/font/lineto-circular-pro-bookitalic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

 /**/