@charcoal: #404340;
@borderGray: #e1e1e1;
@marble: #dbdee1;
@midnightLight: #5f7c8a;
@steam: #F6F6F6;
@rain: #F2F2F2;
@silver: #A1A1A1;
@carbon: #757575;
@lime: #00e76d;
@green: #00c049;
@leaf: #00a73f;
@smoke: #d2d2d2; // disabled button bkg
@storm: #8b8b8b;
@strokeGray: #dbdee1;
@greenGradiant: linear-gradient(to bottom, rgb(0,208,79) 1%,rgb(1,196,77) 100%);
@silverGradient: linear-gradient(to bottom, #f5f5f5 1%,#f1f1f1 100%);
@silverGradientActive: linear-gradient(to bottom, #f5f5f5 1%,#e8e8e8 100%);
@hover: #f5f6f6;



@spacingLarge: 70px;
@spacingDefault: 40px;
@spacingSmall: 20px;
@spacingSmallText: 12px;
@pageContentWidth: 985px;
@pageContentWidthReduced: 650px;

@pagePaddingLarge: 35px;
@pagePaddingMedium: 20px;
@pagePaddingSmall: 15px;

.timesNewRoman() {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
}
.timeNewRomanBold() {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
}
.defaultRegular() {
  font-family: "Circular-Pro-Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
.defaultItalic() {
  font-family: "Circular-Pro-Bookitalic", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: italic;
}
.defaultSemibold() {
  font-family: "Circular-Pro-Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
.defaultBold() {
  font-family: "Circular-Pro-Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




@mobile: 500px;
@tablet: 950px;

@appScope: ;
@gray: #adb9bf;
@mediumGray: #a2adb4;
@lightGray: #eceff0;
@darkGray: #8e939d;
@midnight: #273c46;
@midnightLight: #5f7c8a;
@poppy: #ff5400;
@palmetto: #01c049;
@reef: #07b1d8;
@offWhite: #c9d1d7;
@modalOverlay: rgba(231, 235, 237, 0.95);
@pricingArrivalSpacing: 5px;













@imagePath: ~"https://cdn.ivaws.com/wikibuy-assets/images/";
@highdpi: ~"(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)";

//Greens
@juniper: #009f0c;
// @palmetto: #01c049;
@lime: #00e76d;
@limeTwenty: fade(@lime, 20%);
@sage: #98f5c4;

//Blues
@sea: #0079bb;
// @reef: #07b1d8;
@reefSeventy: fade(@reef, 70%);
@glacier: #1acdfc;
@glacierEight: fade(@glacier, 8%);
@glacierFourty: fade(@glacier, 40%);
@ice: #9bdfee;
@iceTwenty: fade(@ice, 20%);
@iceTen: fade(@ice, 10%);
@cornflower: #5EA3DB;
//Orange & Yellow
// @poppy: #ff5400;
@poppyEight: fade(@poppy, 8%);
@peach: #ffa97f;
@lemon: #f8c218;
@canary: #fce6a2;
@canaryThirty: fade(@canary, 30%);

//Dark Grays
// @midnight: #263c46;
@slate: #3f5b6a;
@slateFour: fade(@slate, 4%);
@slateEight: fade(@slate, 8%);
@slateSeventy: fade(@slate, 70%);
@slateEighty: fade(@slate, 80%);
@slateFifty: fade(@slate, 50%);
@graphite: #788b96;
@nickel: #9eacb3;

//Light Grays
@silverSeventy: fade(@silver, 70%);
@silverSixty: fade(@silver, 60%);
@silverTwenty: fade(@silver, 20%);
@aluminum: #d8dde0;
@magnesium: #ebeeef;
@mercury: #f5f5f5;
@mercuryFifty: fade(@mercury, 50%);
@white: #fff;
@lightGrey: #e2e6e9;

@iron: #666666;