@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800,300italic,400italic,600italic);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  *:focus {
    outline: none; }

html {
  width: 300px;
  height: 100%; }

body {
  font-family: 'Open Sans', Helvetica, arial, sans-serif;
  background-color: #fff;
  color: #5F6C72;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  height: 100%;
  position: relative; }
  body.transparent,
  body.transparent #app {
    background-color: transparent; }

#app {
  display: inline-block;
  float: left;
  width: 100%;
  background-color: #F1F4F5; }

img {
  max-width: 100%; }

h1 {
  color: #354147;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.3em;
  padding: 20px 0; }
  h1.feature {
    padding: 20px 0 0; }
  h1 a:hover {
    border-bottom: 1px solid;
    text-decoration: none; }

h2 {
  color: #354147;
  font-size: 20px;
  line-height: 1.4em;
  font-weight: 600;
  padding: 1em 0; }
  h2.feature {
    font-size: 25px;
    padding: 20px 0 0; }
  h2.gray {
    color: #555; }
  h2 a:hover {
    border-bottom: 1px solid;
    text-decoration: none; }

h3 {
  color: #354147;
  font-size: 15px;
  line-height: 1.5em;
  font-weight: 600;
  padding: 0 0 0.5em 0; }
  h3.orange {
    color: #ff4a00; }

h4 {
  color: #354147;
  font-size: 0.9em;
  letter-spacing: 1px;
  line-height: 1.2em;
  font-weight: 600;
  padding: 0 0 10px;
  text-transform: uppercase; }

.onboarding-layout h1 {
  color: #5F6C72; }

.onboarding-layout h2 {
  color: #5F6C72;
  font-size: 1.7em;
  font-weight: 400; }

.onboarding-layout h3 {
  color: #5F6C72;
  font-size: 1em;
  font-weight: 600;
  margin: 0;
  padding: 0; }
  .onboarding-layout h3.reverse-color {
    color: #fff;
    color: rgba(255, 255, 255, 0.8); }

.onboarding-layout h4 {
  color: #5F6C72;
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 1.2em;
  text-transform: uppercase; }
  .onboarding-layout h4.section-title-text {
    float: left;
    padding: 0 0 0 1em; }
  .onboarding-layout h4.folder-tree-actions__title {
    font-size: 1em; }

.onboarding-layout .section-title {
  overflow: hidden;
  margin-bottom: 1.2em;
  padding: 0; }

a {
  color: #499DF3;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

::-webkit-input-placeholder {
  color: #969EA2; }

:-moz-placeholder {
  color: #969EA2; }

::-moz-placeholder {
  color: #969EA2; }

:-ms-input-placeholder {
  color: #969EA2; }

span.orange {
  color: #ff4a00; }

p {
  line-height: 1.6em;
  margin: 0 0 15px; }
  p.big {
    font-size: 16px;
    font-weight: 300;
    -webkit-text-stroke-width: 0.4px; }
  p.small {
    font-size: 13px;
    line-height: 1.75em; }
  p.bottom {
    margin-bottom: 20px; }

small {
  font-size: 13px; }

i, em {
  font-style: italic; }

strong {
  font-weight: 600; }

sup, sub, .sup {
  font-size: 13px;
  vertical-align: baseline;
  position: relative;
  top: -0.4em; }
  sup.small, sub.small, .sup.small {
    font-size: 10px; }

sub {
  top: 0.4em; }

code {
  background-color: #fff;
  border: 1px solid #eee;
  font-size: 13px;
  line-height: 1em;
  padding: 2px 5px;
  display: inline-block;
  font-family: 'Consolas','Liberation Mono',Courier,monospace; }

pre {
  margin: 0 0 15px;
  overflow: auto;
  line-height: 20px;
  font-family: 'Consolas','Liberation Mono',Courier,monospace; }
  pre code {
    display: block;
    padding: 10px;
    white-space: normal;
    line-height: 1.7em; }

p code {
  word-break: break-all;
  display: inline; }

.divide {
  border-top: 2px solid #DADFE2;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 56px; }

hr {
  color: #CCC;
  background: #CCC;
  border: 0;
  height: 1px; }

ul {
  line-height: 1.75em;
  margin: 0 0 20px; }
  ul.default li {
    margin: 5px 0; }
  ul.bulleted {
    margin: 0 0 5px 16px; }
    ul.bulleted li {
      margin: 15px 0;
      list-style-type: disc; }
      ul.bulleted li:first-child {
        margin-top: 0; }
  ul.sidebar {
    line-height: 1.4em; }
    ul.sidebar li {
      font-size: 13px;
      margin: 10px 0; }
  ul.big {
    font-size: 16px;
    font-weight: 300;
    -webkit-text-stroke-width: 0.4px; }
  ul.small {
    font-size: 13px; }

ol {
  line-height: 1.75em;
  list-style-type: decimal;
  list-style-position: inside;
  margin: 0 0 20px; }
  ol.default li {
    margin: 5px 0; }

.flex-video {
  position: relative;
  padding-bottom: 56%;
  height: 0;
  margin: 20px 0;
  overflow: hidden; }
  .flex-video.vimeo {
    padding-top: 0; }
  .flex-video iframe, .flex-video object, .flex-video embed, .flex-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.video {
  height: 100%;
  width: 100%; }
  .video .cover {
    background-color: #FFF;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0; }
    .video .cover .row {
      height: 100%; }
      .video .cover .row .column {
        vertical-align: middle;
        text-align: center; }
    .video .cover i {
      color: #ff4a00;
      display: inline-block;
      opacity: 0.9;
      font-size: 70px;
      -moz-transition-property: opacity;
      -o-transition-property: opacity;
      -webkit-transition-property: opacity;
      transition-property: opacity;
      -moz-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      -webkit-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -moz-transition-timing-function: ease;
      -o-transition-timing-function: ease;
      -webkit-transition-timing-function: ease;
      transition-timing-function: ease; }
    .video .cover:hover {
      cursor: pointer; }
      .video .cover:hover i {
        opacity: 1; }

indent {
  line-height: 1.75em;
  padding: 15px 20px;
  display: inline-block;
  font-size: 13px; }

/* Personas */
.person {
  display: inline-block;
  margin: 10px 30px 40px;
  vertical-align: top;
  width: 250px; }
  .person .name {
    font-size: 20px;
    font-weight: 100;
    margin: 0 0 10px; }
  .person .caption {
    font-size: 13px;
    line-height: 1.5em; }

.picture {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 0 0 10px; }
  .picture img {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #FFF;
    border: 4px solid #969EA2;
    overflow: hidden;
    height: 100px;
    width: 100px;
    -moz-transition-property: width;
    -o-transition-property: width;
    -webkit-transition-property: width;
    transition-property: width;
    -moz-transition-property: height;
    -o-transition-property: height;
    -webkit-transition-property: height;
    transition-property: height;
    -moz-transition-property: margin;
    -o-transition-property: margin;
    -webkit-transition-property: margin;
    transition-property: margin;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease; }

.picture-small {
  height: 55px;
  width: 55px;
  display: inline-block; }
  .picture-small img {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #FFF;
    border: 2px solid #FFF;
    margin: 0 0 10px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease; }

/* Press */
.press h2 {
  clear: both; }

.press .asset-container {
  display: inline-block;
  float: left;
  margin: 0 0 20px; }
  .press .asset-container .logo-container {
    background-color: #FFF;
    display: table;
    height: 300px;
    margin: 0 auto;
    max-width: 300px;
    text-align: center; }
    .press .asset-container .logo-container .logo {
      display: table-cell;
      vertical-align: middle; }
      .press .asset-container .logo-container .logo img {
        padding: 80px;
        width: 100%; }
  .press .asset-container.reversed .logo-container {
    background-color: #CCC; }
  .press .asset-container .links {
    margin: 0 auto;
    max-width: 300px;
    padding: 10px 0 0; }
    .press .asset-container .links .divider {
      color: #CCC; }

.press .brand-color {
  background-color: #ff4a00;
  display: inline-block;
  height: 100px;
  width: 100px; }

.press .brand-color-text {
  padding: 0 0 0 12px;
  line-height: 1.6em; }

.press p.bottom {
  margin-bottom: 80px; }

/* SUBNAV BELOW HEADERS */
.subnav {
  display: block;
  background: #FF4A00;
  position: relative;
  top: 0; }
  .subnav .container {
    min-height: 130px;
    position: relative; }
  .subnav a {
    color: #fff; }
  .subnav h2 {
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    left: 20px;
    position: absolute;
    top: 50%; }
  .subnav ul {
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    position: absolute;
    right: 0;
    top: 50%; }
  .subnav li {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline; }
    .subnav li a {
      border: 1px solid transparent;
      border-radius: 50px;
      color: #fff;
      margin-right: 20px;
      padding: 10px 15px;
      text-transform: uppercase; }
    .subnav li a.active {
      background: #fff;
      color: #FF4A00; }
    .subnav li a:hover {
      background: transparent;
      border: 1px solid #fff;
      color: #fff;
      text-decoration: none; }
  .subnav .crumbs .crumb {
    filter: alpha(opacity=70);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7; }
  .subnav .crumbs .crumb.last {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
    .subnav .crumbs .crumb.last i {
      display: none; }
  .subnav .under-header-links {
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    position: absolute;
    left: 20px;
    top: 75%; }
    .subnav .under-header-links a {
      margin-right: 20px; }
    .subnav .under-header-links a.active {
      font-weight: 600; }

/* Image Styles */
.figure {
  margin: 40px 0; }
  .figure.left {
    display: inline-block;
    float: left;
    margin: 0 20px 0 0; }
  .figure.right {
    display: inline-block;
    float: right;
    margin: 0 0 0 20px; }
  .figure.center {
    text-align: center;
    margin: 40px auto; }
  .figure.shadow img {
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1); }
  .figure a {
    display: inline-block; }
  .figure img {
    margin: 0; }
  .figure .caption {
    font-size: 15px;
    font-style: italic;
    line-height: 1.5em;
    margin: 10px 0 0;
    -webkit-font-smoothing: antialiased; }

img.bordered {
  background-color: #FFF;
  border: 3px solid #FFF; }

.screenshot {
  margin: 20px 0;
  width: 100%; }

.px {
  height: 0;
  width: 0; }

img[src*='googleads'] {
  position: fixed;
  left: -10000px; }

iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left; }

.highlight-box {
  background: #fff6e1;
  border: 1px solid #ffd77b;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 1.5em; }
  .highlight-box.soft {
    background: rgba(241, 244, 245, 0.6);
    border: 1px solid #ebeeef; }

.container {
  display: inline-block;
  margin: 0 auto;
  max-width: 1120px;
  min-height: 1px;
  width: 100%;
  padding: 20px;
  position: relative;
  text-align: left; }
  .container.center {
    text-align: center; }
  .container.narrow {
    max-width: 650px; }
  .container.border {
    border-bottom: 1px solid #DADFE2; }
  .container.border-top {
    border-top: 1px solid #DADFE2; }
  .container > .column {
    vertical-align: top;
    padding: 0 20px; }
    .container > .column:first-child {
      padding-left: 0; }
    .container > .column:last-child {
      padding-right: 0; }
    .container > .column.feature p {
      font-size: 16px; }

.onboarding-layout .container {
  display: block;
  max-width: 1120px; }

.row {
  display: inline-block;
  text-align: center;
  width: 100%; }
  .row.border {
    border-bottom: 1px solid #DADFE2; }
  .row.border-top {
    border-top: 1px solid #DADFE2; }

.row.dark {
  background: #5F6C72; }

.column, .column-flush {
  display: inline-block;
  float: left;
  text-align: left;
  padding: 0 10px; }
  .column:first-child, .column-flush:first-child {
    padding-left: 0; }
  .column:last-child, .column-flush:last-child {
    padding-right: 0; }
  .column.one-half, .column-flush.one-half {
    width: 50%; }
  .column.one-third, .column-flush.one-third {
    width: 33.33333%; }
  .column.two-thirds, .column-flush.two-thirds {
    width: 66.66667%; }
  .column.one-quarter, .column-flush.one-quarter {
    width: 25%; }
  .column.three-quarters, .column-flush.three-quarters {
    width: 75%; }
  .column.one-fifth, .column-flush.one-fifth {
    width: 20%; }
  .column.four-fifths, .column-flush.four-fifths {
    width: 80%; }
  .column.one-tenth, .column-flush.one-tenth {
    width: 10%; }
  .column.nine-tenths, .column-flush.nine-tenths {
    width: 90%; }
  .column.fill, .column-flush.fill {
    width: 100%; }

.column-flush {
  padding: 0; }

button, input[type=submit], .button, a.pill-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #FFF;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#F5F5F5));
  background-image: -webkit-linear-gradient(top, #FFF, #F5F5F5);
  background-image: -moz-linear-gradient(top, #FFF, #F5F5F5);
  background-image: -ms-linear-gradient(top, #FFF, #F5F5F5);
  background-image: -o-linear-gradient(top, #FFF, #F5F5F5);
  background-image: linear-gradient(top, #FFF, #F5F5F5);
  background-color: #f5f5f5;
  border: solid 1px #D6D6D6;
  cursor: pointer;
  color: #555;
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  font-size: 13px;
  line-height: 1em;
  margin: 0;
  overflow: hidden;
  padding: 8px 10px;
  white-space: nowrap; }
  button:hover, button.selected, button.hover, input[type=submit]:hover, input[type=submit].selected, input[type=submit].hover, .button:hover, .button.selected, .button.hover, a.pill-button:hover, a.pill-button.selected, a.pill-button.hover {
    background-color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#ededed));
    background-image: -webkit-linear-gradient(top, white, #ededed);
    background-image: -moz-linear-gradient(top, white, #ededed);
    background-image: -ms-linear-gradient(top, white, #ededed);
    background-image: -o-linear-gradient(top, white, #ededed);
    background-image: linear-gradient(top, white, #ededed);
    color: #499DF3;
    cursor: pointer;
    text-decoration: none; }
  button:active, button.active, input[type=submit]:active, input[type=submit].active, .button:active, .button.active, a.pill-button:active, a.pill-button.active {
    background-color: #F5F5F5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#FFF));
    background-image: -webkit-linear-gradient(top, #F5F5F5, #FFF);
    background-image: -moz-linear-gradient(top, #F5F5F5, #FFF);
    background-image: -ms-linear-gradient(top, #F5F5F5, #FFF);
    background-image: -o-linear-gradient(top, #F5F5F5, #FFF);
    background-image: linear-gradient(top, #F5F5F5, #FFF);
    color: #499DF3;
    cursor: pointer; }
  button.big, button.large, input[type=submit].big, input[type=submit].large, .button.big, .button.large, a.pill-button.big, a.pill-button.large {
    font-size: 14px;
    padding: 12px 15px; }
  button.huge, button.mongo, input[type=submit].huge, input[type=submit].mongo, .button.huge, .button.mongo, a.pill-button.huge, a.pill-button.mongo {
    border: 0 none;
    font-size: 17px;
    font-weight: 300;
    padding: 15px 20px; }
  button.inline, input[type=submit].inline, .button.inline, a.pill-button.inline {
    vertical-align: middle; }
  button.orange, button.continue, button.submit, input[type=submit].orange, input[type=submit].continue, input[type=submit].submit, .button.orange, .button.continue, .button.submit, a.pill-button.orange, a.pill-button.continue, a.pill-button.submit {
    background-image: none;
    background-color: #ff5c1a;
    border: 1px solid #ff5c1a;
    color: #FFF; }
    button.orange:hover, button.orange.selected, button.continue:hover, button.continue.selected, button.submit:hover, button.submit.selected, input[type=submit].orange:hover, input[type=submit].orange.selected, input[type=submit].continue:hover, input[type=submit].continue.selected, input[type=submit].submit:hover, input[type=submit].submit.selected, .button.orange:hover, .button.orange.selected, .button.continue:hover, .button.continue.selected, .button.submit:hover, .button.submit.selected, a.pill-button.orange:hover, a.pill-button.orange.selected, a.pill-button.continue:hover, a.pill-button.continue.selected, a.pill-button.submit:hover, a.pill-button.submit.selected {
      background-color: #ff510a;
      border: 1px solid #ff510a;
      color: #FFF; }
    button.orange:active, button.continue:active, button.submit:active, input[type=submit].orange:active, input[type=submit].continue:active, input[type=submit].submit:active, .button.orange:active, .button.continue:active, .button.submit:active, a.pill-button.orange:active, a.pill-button.continue:active, a.pill-button.submit:active {
      background-color: #ff4a00;
      border: 1px solid #ff4a00;
      color: #FFF; }
  button.blue, button.secondary, input[type=submit].blue, input[type=submit].secondary, .button.blue, .button.secondary, a.pill-button.blue, a.pill-button.secondary {
    background-image: none;
    background-color: #499DF3;
    color: #fff;
    border-color: transparent; }
    button.blue:hover, button.blue:active, button.blue:focus, button.secondary:hover, button.secondary:active, button.secondary:focus, input[type=submit].blue:hover, input[type=submit].blue:active, input[type=submit].blue:focus, input[type=submit].secondary:hover, input[type=submit].secondary:active, input[type=submit].secondary:focus, .button.blue:hover, .button.blue:active, .button.blue:focus, .button.secondary:hover, .button.secondary:active, .button.secondary:focus, a.pill-button.blue:hover, a.pill-button.blue:active, a.pill-button.blue:focus, a.pill-button.secondary:hover, a.pill-button.secondary:active, a.pill-button.secondary:focus {
      background-color: #61aaf5; }
  button.armor, button.warning, input[type=submit].armor, input[type=submit].warning, .button.armor, .button.warning, a.pill-button.armor, a.pill-button.warning {
    background-image: none;
    background-color: #FD7622;
    color: #fff;
    border-color: transparent; }
    button.armor:hover, button.armor:active, button.warning:hover, button.warning:active, input[type=submit].armor:hover, input[type=submit].armor:active, input[type=submit].warning:hover, input[type=submit].warning:active, .button.armor:hover, .button.armor:active, .button.warning:hover, .button.warning:active, a.pill-button.armor:hover, a.pill-button.armor:active, a.pill-button.warning:hover, a.pill-button.warning:active {
      background-color: #fd863b; }
  button.red, button.error, input[type=submit].red, input[type=submit].error, .button.red, .button.error, a.pill-button.red, a.pill-button.error {
    background-image: none;
    background-color: #FF4A00;
    color: #fff;
    border-color: transparent; }
    button.red:hover, button.red:active, button.error:hover, button.error:active, input[type=submit].red:hover, input[type=submit].red:active, input[type=submit].error:hover, input[type=submit].error:active, .button.red:hover, .button.red:active, .button.error:hover, .button.error:active, a.pill-button.red:hover, a.pill-button.red:active, a.pill-button.error:hover, a.pill-button.error:active {
      background-color: #ff5c1a; }
  button.flat, button.normal, button.tertiary, input[type=submit].flat, input[type=submit].normal, input[type=submit].tertiary, .button.flat, .button.normal, .button.tertiary, a.pill-button.flat, a.pill-button.normal, a.pill-button.tertiary {
    background-image: none;
    background-color: #eef0f2;
    color: #354147;
    border-color: transparent; }
    button.flat:hover, button.flat:active, button.normal:hover, button.normal:active, button.tertiary:hover, button.tertiary:active, input[type=submit].flat:hover, input[type=submit].flat:active, input[type=submit].normal:hover, input[type=submit].normal:active, input[type=submit].tertiary:hover, input[type=submit].tertiary:active, .button.flat:hover, .button.flat:active, .button.normal:hover, .button.normal:active, .button.tertiary:hover, .button.tertiary:active, a.pill-button.flat:hover, a.pill-button.flat:active, a.pill-button.normal:hover, a.pill-button.normal:active, a.pill-button.tertiary:hover, a.pill-button.tertiary:active {
      background-color: #DADFE2; }
  button.white, input[type=submit].white, .button.white, a.pill-button.white {
    background-image: none;
    background-color: #fff;
    color: #5F6C72;
    border-color: #DADFE2; }
    button.white:hover, button.white:active, input[type=submit].white:hover, input[type=submit].white:active, .button.white:hover, .button.white:active, a.pill-button.white:hover, a.pill-button.white:active {
      background-color: #fff;
      color: #969EA2; }
  button.rounded, input[type=submit].rounded, .button.rounded, a.pill-button.rounded {
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px; }
  button.outlined, input[type=submit].outlined, .button.outlined, a.pill-button.outlined {
    background: none;
    background-color: transparent;
    border: 1px solid #CCC;
    color: #499DF3;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    letter-spacing: 0.3px;
    line-height: 1em;
    padding: 10px 20px;
    text-shadow: none;
    -webkit-text-stroke-width: 0;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased; }
    button.outlined:hover, input[type=submit].outlined:hover, .button.outlined:hover, a.pill-button.outlined:hover {
      background-color: #499DF3;
      border-color: #499DF3;
      color: #FFF;
      -webkit-font-smoothing: subpixel-antialiased; }
    button.outlined:active, input[type=submit].outlined:active, .button.outlined:active, a.pill-button.outlined:active {
      background-color: #61aaf5;
      border-color: #61aaf5; }
    button.outlined.orange, input[type=submit].outlined.orange, .button.outlined.orange, a.pill-button.outlined.orange {
      color: #ff4a00;
      border-color: #ff4a00; }
      button.outlined.orange:hover, input[type=submit].outlined.orange:hover, .button.outlined.orange:hover, a.pill-button.outlined.orange:hover {
        background-color: #ff4a00;
        color: #FFF; }
      button.outlined.orange:active, input[type=submit].outlined.orange:active, .button.outlined.orange:active, a.pill-button.outlined.orange:active {
        background-color: #ff5c1a;
        border-color: #ff5c1a; }
  button i.left, input[type=submit] i.left, .button i.left, a.pill-button i.left {
    display: inline-block;
    padding: 0 3px 0 0;
    min-width: 14px; }
  button i.right, input[type=submit] i.right, .button i.right, a.pill-button i.right {
    display: inline-block;
    padding: 0 0 0 3px;
    min-width: 14px; }
  button.disabled, button:disabled, input[type=submit].disabled, input[type=submit]:disabled, .button.disabled, .button:disabled, a.pill-button.disabled, a.pill-button:disabled {
    background: #DADFE2;
    border: 1px solid #ccd3d7;
    color: #a1aeb5;
    cursor: default; }
    button.disabled:hover, button.disabled:active, button:disabled:hover, button:disabled:active, input[type=submit].disabled:hover, input[type=submit].disabled:active, input[type=submit]:disabled:hover, input[type=submit]:disabled:active, .button.disabled:hover, .button.disabled:active, .button:disabled:hover, .button:disabled:active, a.pill-button.disabled:hover, a.pill-button.disabled:active, a.pill-button:disabled:hover, a.pill-button:disabled:active {
      background: #DADFE2; }
  button.light, input[type=submit].light, .button.light, a.pill-button.light {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }

.button-helper {
  color: #4D4D4D;
  margin-left: 15px;
  font-weight: bold; }

p button, p input[type=submit], p .button, p a.pill-button {
  vertical-align: middle; }

.button-or-text {
  color: #969EA2;
  display: inline-block;
  margin: 0.9em 1em;
  vertical-align: top; }

.onboarding-layout .button {
  border: none;
  border-radius: 3px;
  color: #fff;
  font-weight: 600;
  text-align: center; }
  .onboarding-layout .button:hover {
    border: none;
    color: #fff;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease; }
  .onboarding-layout .button.primary {
    background: #13d0ab; }
    .onboarding-layout .button.primary:hover {
      background: #12c7a3;
      color: #fff;
      -webkit-transition: all 0.1s ease;
      transition: all 0.1s ease; }
  .onboarding-layout .button.large {
    padding: 1em;
    font-size: 1.1em;
    line-height: 1.5em; }
  .onboarding-layout .button.disabled {
    border: none !important;
    background: #DADFE2; }

@keyframes squareSpinner {
  0%, 70%, 100% {
    transform: scale3D(1, 1, 1); }
  35% {
    transform: scale3D(0, 0, 1); } }

html {
  height: 196px; }

#push-by-zapier .full-width {
  width: 100%;
  text-align: center; }

#push-by-zapier .uppercase {
  text-transform: uppercase; }

#push-by-zapier #header {
  margin-bottom: -2px;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  padding: 0; }
  #push-by-zapier #header:hover {
    background-color: #f1f4f5; }
  #push-by-zapier #header .title {
    display: block;
    float: left;
    padding: 20px 0 20px 56px;
    background-size: 32px;
    background-position: 14px;
    background-repeat: no-repeat;
    background-image: url("logo.png"); }
  #push-by-zapier #header h1 {
    color: #354147;
    font-size: 16px;
    padding: 0;
    font-weight: 600; }

#push-by-zapier #navigation {
  border-top: 1px solid #e6e6e6; }
  #push-by-zapier #navigation ul {
    display: block;
    float: left; }
  #push-by-zapier #navigation li {
    display: block;
    float: left; }

#push-by-zapier .spinner {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center; }
  #push-by-zapier .spinner .spinner-container {
    width: 72px;
    height: 72px; }
  #push-by-zapier .spinner .spinner-section {
    width: 18px;
    height: 18px;
    background: #FF4A00;
    float: left;
    animation: squareSpinner 1.5s infinite ease-in-out; }

#push-by-zapier #zap-list {
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  margin-bottom: 0; }
  #push-by-zapier #zap-list #no-zaps {
    margin: 15px 20px; }
  #push-by-zapier #zap-list li {
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s; }
    #push-by-zapier #zap-list li:not(#no-zaps):hover {
      background-color: #f1f4f5; }
    #push-by-zapier #zap-list li.text-zap-open form {
      max-height: 197px; }
    #push-by-zapier #zap-list li.zap-template-open .zap-template-body {
      max-height: 300px; }
    #push-by-zapier #zap-list li h3 {
      color: #5F6C72;
      cursor: pointer;
      padding: 15px 20px 15px 56px;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      transition-property: background-color background-image;
      transition-timing-function: ease-in-out;
      transition-duration: 0.3s;
      background-size: 20px 20px;
      background-position: 20px;
      background-repeat: no-repeat; }
      #push-by-zapier #zap-list li h3 .testing {
        color: #FF4A00;
        font-weight: bold; }
    #push-by-zapier #zap-list li.button-zap h3 {
      background-image: url("circle.png"); }
      #push-by-zapier #zap-list li.button-zap h3:hover {
        background-image: url("dot.png"); }
    #push-by-zapier #zap-list li.text-zap h3 {
      background-image: url("pencil.png"); }
    #push-by-zapier #zap-list li.zap-template h3 {
      background-image: url("bolt.png"); }
    #push-by-zapier #zap-list li.button-zap.ATTEMPTING h3, #push-by-zapier #zap-list li.button-zap.SUCCESS h3, #push-by-zapier #zap-list li.button-zap.ERROR h3 {
      cursor: default; }
      #push-by-zapier #zap-list li.button-zap.ATTEMPTING h3:hover, #push-by-zapier #zap-list li.button-zap.SUCCESS h3:hover, #push-by-zapier #zap-list li.button-zap.ERROR h3:hover {
        background-color: #FFF; }
    #push-by-zapier #zap-list li.ATTEMPTING h3 {
      color: gray;
      background-image: url("spin.gif"); }
      #push-by-zapier #zap-list li.ATTEMPTING h3:hover {
        background-image: url("spin.gif"); }
    #push-by-zapier #zap-list li.SUCCESS h3 {
      color: #13d0ab;
      background-image: url("success.png"); }
      #push-by-zapier #zap-list li.SUCCESS h3:hover {
        background-image: url("success.png"); }
    #push-by-zapier #zap-list li.ERROR h3 {
      color: #E52F00;
      background-image: url("failure.png"); }
      #push-by-zapier #zap-list li.ERROR h3:hover {
        background-image: url("failure.png"); }
  #push-by-zapier #zap-list form,
  #push-by-zapier #zap-list .zap-template-body {
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    transition-property: max-height;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    max-height: 0px; }
  #push-by-zapier #zap-list form input,
  #push-by-zapier #zap-list .zap-template-body .button {
    font-weight: normal;
    background-image: none;
    background-color: #499DF3;
    border-color: transparent;
    color: #fff;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    margin-bottom: 15px; }
    #push-by-zapier #zap-list form input:hover,
    #push-by-zapier #zap-list .zap-template-body .button:hover {
      background-color: #3190f1; }
  #push-by-zapier #zap-list .zap-template-body p {
    text-align: center; }
  #push-by-zapier #zap-list .zap-template-apis {
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    #push-by-zapier #zap-list .zap-template-apis img:not(:last-child) {
      margin-right: 10px; }
  #push-by-zapier #zap-list .api-logo {
    width: 40px;
    height: 40px; }
  #push-by-zapier #zap-list .right-arrow {
    width: 20px;
    height: 20px; }

#push-by-zapier textarea.full-width {
  height: 120px;
  font-size: 14px;
  line-height: 150%;
  min-height: 45px;
  padding: 8px;
  margin: 0px;
  margin-top: 1px;
  margin-bottom: 6px;
  border: 2px solid #DADFE2;
  text-align: left;
  resize: none; }

#push-by-zapier #footer, #push-by-zapier .unauthorized {
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s; }
  #push-by-zapier #footer:hover, #push-by-zapier .unauthorized:hover {
    background-color: #f1f4f5; }

#push-by-zapier .extension-button {
  font-weight: normal;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s; }

#push-by-zapier .error {
  text-decoration: none; }
  #push-by-zapier .error h3 {
    margin: 0;
    padding: 15px 20px 15px 56px;
    background-size: 32px;
    background-position: 16px;
    background-repeat: no-repeat;
    background-image: url("failure.png");
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s; }
    #push-by-zapier .error h3:hover {
      background-color: #f1f4f5; }
