.lleo_lyrics-brand {
    float: right !important;
}
.lleo_lyrics-brand .lleo_text1 {
    font-weight: bold !important;
}
.lleo_lyrics-brand .lleo_text2 {
    color: #c75e00;
}
.lleo_lyrics-brand .lleo_text3 {
    color: #216ca9;
}