html {
    height: 100%;
}

body {
    background-color: #fdfdfe;
}

input {
    box-sizing: border-box;
}

fieldset {
    width: 20%;
    min-width: 362px;
    border: 0;
    padding: 0;
    margin: 0 auto;
}

div.d-logo {
    text-align: center;
    margin: 0 auto;
}

div.d-logo img {
    width: 20%;
    min-width: 207px;
}

div.d-form {
    background-color: #ffffff;
    display: table;
    margin: 25px auto;
    padding: 10px;
}

input.i-form-field {
    width: 100%;
    border: 1px solid #6e99dd;
    padding: 10px;
    font-size: 18px;
    font-family: 'Dosis', sans-serif !important;
}

input.i-form-field-invalid {
    border: 1px solid #db3700;
}

div.d-form-field {
    margin: 25px 0;
    text-align: center;
}

div.d-information-text {
    text-transform: uppercase;
    color: #6e99dd;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
}

div.d-message {
    display: none;
    margin: 25px auto;
    padding: 10px;
    font-size: 18px;
    font-family: 'Dosis', sans-serif !important;
}

div.d-success-message {
    border: 1px solid #55eb23;
    background-color: #80d962;
}

div.d-error-message {
    border: 1px solid #db3700;
    background-color: #f27C55;
}

button.b-submit {
    background: #6e99dd;
    color: #daf8ff;
    padding: 10px 40px;
    border-width: 0;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Dosis', sans-serif !important;
    width: 100%;
}

button.b-button {
    background: white;
    color: #6e99dd;
    padding: 10px 40px;
    border: 1px solid;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Dosis', sans-serif !important;
    width: 100%;
}

::-webkit-input-placeholder {
    font-size: 18px;
    font-family: 'Dosis', sans-serif !important;
}

::-moz-placeholder {
    font-size: 18px;
    font-family: 'Dosis', sans-serif !important;
}

/* firefox 19+ */
:-ms-input-placeholder {
    font-size: 18px;
    font-family: 'Dosis', sans-serif !important;
}

/* ie */
input:-moz-placeholder {
    font-size: 18px;
    font-family: 'Dosis', sans-serif !important;
}

div.d-recovery-form-message {
    margin: 65px auto;
    text-align: center;
    padding: 10px;
    color: #346ead;
    font-size: 22px;
    font-family: 'Dosis', sans-serif !important;
    font-weight: bold;
}

.cssload-thecube {
	width: 18px;
	height: 18px;
	margin: 2px auto 2px;
	position: relative;
	transform: rotateZ(45deg);
		-o-transform: rotateZ(45deg);
		-ms-transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
		-moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
	position: relative;
	transform: rotateZ(45deg);
		-o-transform: rotateZ(45deg);
		-ms-transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
		-moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
}
.cssload-thecube .cssload-cube:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(218,248,255);
	animation: cssload-fold-thecube 2.76s infinite linear both;
		-o-animation: cssload-fold-thecube 2.76s infinite linear both;
		-ms-animation: cssload-fold-thecube 2.76s infinite linear both;
		-webkit-animation: cssload-fold-thecube 2.76s infinite linear both;
		-moz-animation: cssload-fold-thecube 2.76s infinite linear both;
	transform-origin: 100% 100%;
		-o-transform-origin: 100% 100%;
		-ms-transform-origin: 100% 100%;
		-webkit-transform-origin: 100% 100%;
		-moz-transform-origin: 100% 100%;
}
.cssload-thecube .cssload-c2 {
	transform: scale(1.1) rotateZ(90deg);
		-o-transform: scale(1.1) rotateZ(90deg);
		-ms-transform: scale(1.1) rotateZ(90deg);
		-webkit-transform: scale(1.1) rotateZ(90deg);
		-moz-transform: scale(1.1) rotateZ(90deg);
}
.cssload-thecube .cssload-c3 {
	transform: scale(1.1) rotateZ(180deg);
		-o-transform: scale(1.1) rotateZ(180deg);
		-ms-transform: scale(1.1) rotateZ(180deg);
		-webkit-transform: scale(1.1) rotateZ(180deg);
		-moz-transform: scale(1.1) rotateZ(180deg);
}
.cssload-thecube .cssload-c4 {
	transform: scale(1.1) rotateZ(270deg);
		-o-transform: scale(1.1) rotateZ(270deg);
		-ms-transform: scale(1.1) rotateZ(270deg);
		-webkit-transform: scale(1.1) rotateZ(270deg);
		-moz-transform: scale(1.1) rotateZ(270deg);
}
.cssload-thecube .cssload-c2:before {
	animation-delay: 0.35s;
		-o-animation-delay: 0.35s;
		-ms-animation-delay: 0.35s;
		-webkit-animation-delay: 0.35s;
		-moz-animation-delay: 0.35s;
}
.cssload-thecube .cssload-c3:before {
	animation-delay: 0.69s;
		-o-animation-delay: 0.69s;
		-ms-animation-delay: 0.69s;
		-webkit-animation-delay: 0.69s;
		-moz-animation-delay: 0.69s;
}
.cssload-thecube .cssload-c4:before {
	animation-delay: 1.04s;
		-o-animation-delay: 1.04s;
		-ms-animation-delay: 1.04s;
		-webkit-animation-delay: 1.04s;
		-moz-animation-delay: 1.04s;
}

@keyframes cssload-fold-thecube {
	0%, 10% {
		transform: perspective(28px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		transform: perspective(28px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		transform: perspective(28px) rotateY(180deg);
		opacity: 0;
	}
}

@-o-keyframes cssload-fold-thecube {
	0%, 10% {
		-o-transform: perspective(28px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-o-transform: perspective(28px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-o-transform: perspective(28px) rotateY(180deg);
		opacity: 0;
	}
}

@-ms-keyframes cssload-fold-thecube {
	0%, 10% {
		-ms-transform: perspective(28px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-ms-transform: perspective(28px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-ms-transform: perspective(28px) rotateY(180deg);
		opacity: 0;
	}
}

@-webkit-keyframes cssload-fold-thecube {
	0%, 10% {
		-webkit-transform: perspective(28px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-webkit-transform: perspective(28px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-webkit-transform: perspective(28px) rotateY(180deg);
		opacity: 0;
	}
}

@-moz-keyframes cssload-fold-thecube {
	0%, 10% {
		-moz-transform: perspective(28px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-moz-transform: perspective(28px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-moz-transform: perspective(28px) rotateY(180deg);
		opacity: 0;
	}
}

@media only screen and (max-device-width: 1024px) and (orientation: portrait) {
    div.d-form {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    div.d-logo img {
        width: 50%;
        min-width: initial;
    }

    input.i-new-password {
        display: block;
        margin: 0 auto;
    }

    fieldset {
        width: 85%;
        min-width: initial;
    }
}

.hr-line {
    display: block;
    height: 2px;
    width: 60%;
    border: 0;
    padding: 0;
    background-color: #DEE9FF;
    margin-top: -28px;
}

@media only screen and (max-device-width: 1024px) and (orientation: landscape) {
    div.d-logo {
        display: none;
    }
}