@import "~less/variables.less";
#__wikibuy__ .__wikibuy {
  .store-content-data {
    width: 100%;
    padding: 0 18px;
    overflow: scroll;
    height: 100%;
    h2.bold {
      margin-bottom: 10px;
      font-size: 24px;
      padding-top: 18px;
    }
  }
}
