
body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    width: 300px;
    line-height: 30px;
    color: #2B292E;
}

label {
    cursor: pointer;
}

a, a:hover, a:active, a:focus, a:visited {
    text-decoration: underline;
    cursor: pointer;
    padding: 5px;
    color: #2B292E;
}

input[type="text"] {
    width: 100%;
}

strong {
    display: block;
}

.emoji-list-container {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: block;
    max-height: 400px;
    overflow-y: scroll;
}

.emoji-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: block;
    transition: all .2s;
    max-height: 2500px;
    overflow: hidden;
}

input[type="checkbox"]:not(:checked) + .emoji-list {
    max-height: 0px;
}

.force-display input[type="checkbox"] {
    display: none;
}

.force-display .emoji-list {
    max-height: 2500px !important;
}

label {
    display: inline-block;
    font-weight: 600;
}

input[type="checkbox"] {
    float: left;
    margin-top: 6px;
    text-indent: 1000px;
    margin-left: -1000px;
    font-size: 16px;
    width: 1020px;

}

.hidden {
    display: none;
}

input[type="checkbox"]:after {
    content: "⬆️";
}

input[type="checkbox"]:checked:after {
    content: "⬇️";
}

.emoji-list li {
    display: inline-block;
    padding: 5px 5px;
    transition: all .2s;
    font-size: 24px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
}

.emoji-list li:hover {
    background: #ccc;
}