body {
  width: 600px;
  padding: 0 10px;
  font-size: 12px;
  margin: 10px auto;
  font-family: arial, sans-serif;
}

table {
  border: 0;
  width: 100%;
  border-spacing: 0 3px;
}

table tr td {
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}

table tr td[type='number'] {
  width: 30px;
  text-align: center;
}

table tr td[type='close'] {
  width: 50px;
  height: 24px;
  min-width: 50px;
  background: url('close-black.png') no-repeat center center;
}

table tr td[type='close']:hover {
  cursor: pointer;
  background: #C75050 url('close-white.png') no-repeat center center;
}

table tr td[type='redirect'] {
  padding: 0;
}

table tr td[type='redirect'] input {
  margin: 0;
  height: 26px !important;
}

#blocklist tr td[type='blocked'] {
  color: #d86355;
}

table tr td input[type='text'] {
  height: 32px;
  min-width: 100px;
  padding: 0 0 0 10px;
  width: calc(100% - 10px);
  border: solid 1px rgba(0,0,0,0.1);
}

.options {
  border-spacing: 0 1px;
  background-color: #FFF;
}

.options tr {
  background-color: rgba(0,0,0,0.05);
}

.options tr td input {
  margin: 5px 20px;
  vertical-align: middle;
}

.checkbox {
  width: 50px;
  text-align: center;
}

.title {
  width: 100%;
  padding: 0 0 0 5px;
}

.header {
  border: 0;
  color: #FFF;
  height: 32px;
  margin: 10px 0;
  background-color: #d86355;
}

.item {
  padding: 0 0 0 5px;
}

#add {background: url('add.png') no-repeat center center}
#reload {background: url('reload.png') no-repeat center center}

#reload, #add {
  width: 50px;
  height: 100%;
  background-size: 16px;
}

#reload:hover, #add:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0.1);
}

#blocklist tr {
  background-color: rgba(0,0,0,0.05);
}
