body{
background-color:#f6f6f6;
font-size:13px;
}

#content{
background-color:#fff;
border:#e1e1e1 solid 4px;
margin:40px auto 15px auto;
padding:18px;
width:800px;
}

h1{
margin-top:4px;
text-align:center;
}

#title{
color:#333;
display:block;
font-size:0.8em;
margin-top:10px;
}

.option{
font-size:1.1em;
margin:0 auto;
padding-left:80px;
text-align:center;
}

.option td{
text-align:left;
vertical-align:top;
}

.optionTtl{
font-weight:bold;
width:150px;
}

.optionBtn{
margin:0 auto;
text-align:center;
}

#status{
margin:0 auto;
text-align:center;
}

.footer{
text-align:center;
line-height:1.5em;
margin:0 auto;
width:800px;
}
