@import "~less/variables.less";
#__wikibuy__ .__wikibuy {
  .check-coupon-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    .coupon-check-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      h6 {
        text-align: center;
        font-size: 13px;
        &.light {
          margin-bottom: 10px;
        }
      }
      .primary-link {
        margin-bottom: 4px;
      }
      form {
        position: relative;
        width: 270px;
        margin-top: 13px;
        input {
          background: #fff;
          border: 1px solid #e0e0e0;
          border-radius: 3px;
          padding-right: 77px;
        }
        button {
          width: 59px;
          height: 30px;
          min-width: 0;
          line-height: 20px;
          font-size: 14px;
          padding: 0px;
          position: absolute;
          right: 7px;
          top: 6px;
          border-radius: 3px;
        }
      }
    }
  }
}
