/*
  Docs at http://http://simpleweatherjs.com

  Look inspired by http://www.degreees.com/
  Used for demo purposes.

  Weather icon font from http://fonts.artill.de/collection/artill-weather-icons

  DO NOT hotlink the assets/font included in this demo. If you wish to use the same font icon then download it to your local assets at the link above. If you use the links below odds are at some point they will be removed and your version will break.
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,500,&subset=latin,latin-ext);
@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal; 
    font-style: normal;
}

i {
  font-family: weather;
  font-weight: normal;
  font-style: normal;
}
.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

.row{
  width: 100%;
  *zoom: 1;
  &:before,&:after{
    content: " ";
    display: table;
  }
  &:after{
    clear: both;
  }

  .col{
    float: left;
  }
  .egy-negy{
    width: 25%;
  }
  .egy-harom{
    width: 33%;
  }
  .ketto-harom{
    width: 66%;
  }
  .egy-ketto{
    width: 50%;
  }
  
}


$hatter: #fff;
$betu: #fff;
$csik: #C6C6C6;
$lightback: rgba(0,0,0,0.2);

a{
    color: $betu;
}

#loader{
    background-image: url(../pic/loader.gif);
    background-repeat: no-repeat;
    background-color: $hatter;
    background-size: auto;
    background-position: center;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

#idojaras{
    width: 400px;
    min-height: 400px;
    max-height: 561px;
    height: 561px;
    margin: auto;
    overflow: hidden;
    position: relative;
    display: none;
    font: 13px 'Roboto', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 1;
    color: $betu;
    background-color: $hatter;
    background-size: auto;
    background-position: center;

    #idojaras-back{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        height: 100%;
        opacity: .65;
    }
    #back{
        width: 100%;
        height: 100%;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        background-size: auto;
        background-image: url(../pic/bg/clear_day.jpg);
        .sun{
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            width: 400px;
            height: 341px;
            position: absolute;
            top: 58px;
            z-index: 0;
        }
        .felho{
            width: 400px;
            height: 341px;
            margin-top:58px; 
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            z-index: 2;
            .small{
                width: 400px;
                height: 341px;
                position: absolute;
            }

        }
        img.icyleft{
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
        }img.icyright{
            position: absolute;
            top: 0;
            right: 0;
            width: 50%;
            height: 100%;
        }

        .snowkulso{
            background-repeat: repeat;
            background-position: top;
            background-size: auto;

            animation-name: snow;
            animation-duration: 6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        .snowbelso{
            background-repeat: repeat;
            background-position: top;
            background-size: auto;

            animation-name: snow;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        @keyframes snow {
            0% {background-position: 0 0;}
            100% {background-position: 0 200px;}
        }

        .rainkulso{
            background-repeat: repeat;
            background-position: top;
            background-size: auto;

            animation-name: rain;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            .rainbelso{
                background-position: bottom;
                background-repeat: repeat-x;
            }
        }
        @keyframes rain {
            0% {background-position: 0 0;}
            100% {background-position: 0 100px;}
        }

        .thunder{
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;

            animation-name: thunder;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes thunder {
            0% {background-image: none;}
            10% {background-image: none;}
            20% {background-image: url(../pic/lightning/lightning2.png);}
            30% {background-image: none;}
            40% {background-image: url(../pic/lightning/lightning1.png);}
            50% {background-image: none}
            100% {background-image: none}
        }

        .cloud{
            background-repeat: no-repeat;
            background-position: center 150px;
            background-size: 100%;
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 99;

            animation-name: cloud;
            animation-duration: 10s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        @keyframes cloud {
            0% {background-position: 50px 150px;}
            50% {background-position: -50px 150px;}
            100% {background-position: 50px 150px;}
        }


    }

    #inner{
        position: relative;
        z-index: 2;
    }

    #varos{
        text-align: center;
        background: $lightback;
        padding: 10px 0;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        max-height: 60px;
        h2{
            font-weight: 300;
            font-size: 20px;
            line-height: 1.2;
        }
        span#datum{
            font-weight: 300;
            font-style: italic;
            text-transform: uppercase;
            font-size: 11px;
        }
        a{
            position: absolute;
            top: 0;
            right: 0;
            font-size: 25px;
            padding: 16px;
        }
    }/* varos */

    #idojaras-most{
        min-height: 340px;
        position: relative;

        .info{
            color: $betu;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 10px;
            text-shadow: 0 0 4px #222;
            #mostani-icon{
                font-size: 50px;
                float: left;
                line-height: 75px;
            }
            #mostani-fok{
                font-size: 80px;
                font-weight: 300;
                letter-spacing: -7px;
                float: left;
                sup{
                    font-size: 40px;
                    display: none;
                }
            }
            .mostani-egyebek{
                font-size: 14px;
                font-weight: 300;
                text-transform: uppercase;
                span{
                    &:after{
                        content: " | ";
                    }&:last-of-type:after{
                        content: ""
                    }&:first-of-type:after{
                        content: ""
                    }
                }
            }
        }
    }/* idojaras-most */

    #idoidojaras-elorejelzes{
        min-height: 110px;
        .col{
            box-shadow: 1px -1px 0 rgba(0,0,0,0.1);
            background: $lightback;
            text-align: center;
            min-height: 132px;
            .day{
                display: block;
                padding: 5px;
                text-align: center;
                background: $lightback;
                box-shadow: 0px 1px 0 rgba(0,0,0,0.1);
                text-transform: uppercase;
                margin-bottom: 5px;
                font-weight: 500;
            }.icon{
                display: block;
                i{
                    font-size: 45px;
                    line-height: 40px;
                }
                
            }.hight{
                width: 50%;
                display: inline-block;
                font-weight: 500
            }
            .low{
                width: 50%;
                display: inline-block;
                padding: 5px 0;
                font-weight: 500;
            }.text{
                display: block;
                padding: 5px 0;
                width: 100%;
                font-weight: 300;
            }

        }
    }//idojaras-elorejelzes
    
    a.full_forecast{
        display: block;
        text-decoration: none;
        box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
        padding: 10px 0;
        text-align: center;
        font-size: 11px;
        color: $betu;
    }
    a.full_forecast:hover{
        background: $lightback;
    }


}//#idoaras


#options{
    width: 400px;
    min-height: 400px;
    max-height: 561px;
    height: 561px;
    margin: auto;
    overflow: hidden;
    position: relative;
    font: 13px 'Roboto', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 1;
    color: $hatter;
    background-color: #f9f9f9;
    background-size: auto;
    background-position: center;
    text-align: center;

    #varos{
        background: $lightback;
        padding: 10px 0;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        max-height: 60px;
        h2{
            font-weight: 300;
            font-size: 20px;
            line-height: 1.2;
        }
        span#datum{
            font-weight: 300;
            font-style: italic;
            text-transform: uppercase;
            font-size: 11px;
        }
        a{
            position: absolute;
            top: 0;
            right: 0;
            font-size: 25px;
            padding: 16px;
        }
    }/* varos */

    input[type=text], select{
        width: 330px;
        border: 1px solid rgba(0,0,0,0.1);
        padding: 10px 0;
        margin: 10px 0 10px 10px;
        float: left;
        text-indent: 10px;
    }
    input[type=button]{
        width: 50px;
        border: 1px solid rgba(0,0,0,0.1);
        padding: 10px 0;
        margin: 10px 0;
        float: left;
        background: rgba(0,0,0,0.2);
        color: #fff;
    }
    h4{
        color: rgba(0,0,0,0.2);
        margin: 20px 10px 0;
        font-size: 16px;
        text-align: left;
        span{
            color: rgba(0,0,0,0.4);
        }
    }
    p{
        padding-top: 10px;
        margin-top: 10px;
        border-top: 1px solid rgba(0,0,0,0.1);
        color: rgba(0,0,0,0.3);
    }
    h4.location{
        span{
            display: block;
            line-height: 1.4;
            text-align: center;
        }
    }
    #newloc{
        padding: 10px;
        display: block;
        margin: 10px auto;
        width: 150px;
        text-decoration: none;
        border: 1px solid rgba(0,0,0,0.1);
        background: rgba(0,0,0,0.2);
        color: #fff;
    }
    .copy{
        position: absolute;
        bottom: 10px;
    }

}