@import "~less/variables.less";
#__wikibuy__ .__wikibuy {
  .progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    background-color: @white;
    &.rounded {
      border-top-left-radius: 3px;
      .progress {
        border-top-left-radius: 3px;
      }
    }
    .progress {
      position: absolute;
      left: 0;
      top: 0;
      height: 4px;
      background-color: @palmetto;
      transition: all 300ms ease-in;
    }
  }
}