<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
    <link href='https://fonts.googleapis.com/css?family=Dosis&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../../css/views.css">
    <title>Forgot Password</title>
    <script src="../../js/ext/jquery-1.11.3.min.js"></script>
    <script src="../../js/cni-auth.js"></script>
    <script src="../../js/menu.js"></script>
    <script src="../../js/forgot-password.js"></script>
</head>
<body>
<div class="d-logo">
    <img src="../../img/logo.svg" align="middle"/>
</div>
<div class="d-form">
    <form id="f-forgot-password" class="f-form">
        <fieldset>
            <div id="d-message" class="d-message"></div>
            <div class="d-form-field">
                <input id="i-login" class="i-form-field" name="email" type="text"
                       placeholder="email"
                       required
                       autofocus>
            </div>
            <div class="d-form-field">
                <button id="b-forgot-password" class="b-submit" type=submit>SEND PASSWORD RECOVERY EMAIL</button>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>