$primary-bg: #fafafa;
$text-color: #666;

$main-modal-bg: $primary-bg;
$main-modal-btn-bg: #4d74f7;
$main-view-inner-bd: #ececec;

$modal-bg: $primary-bg;
$modal-color: $text-color;

$input-bg: #fff;
$input-bd: #c3c3c3;

$modal-btn-bg: #000;
$modal-btn-color: #fff;

$bookmarks-bd: #efefef;
$bookmark-head-bg: #efefef;

$sidebar-nav-text-color: #a1abb9;
$sidebar-input-bg: #fff;
$sidebar-input-bd: #ced3d9;

$sidebar-search-color: $text-color;

$add-img-area-bg: #fff;
$add-img-area-bd: #ced3d9;
$add-img-area-color: #a9b2bf;

$todo-empty-text-color: #c7c7c7;

$todo-modal-day-bg: #fff;
$todo-modal-textarea-bg: #fff;
$todo-modal-textarea-bd: #efefef;
$todo-modal-btn-bg: #40b4ff;
$todo-modal-btn-color: #fff;

$action_icon_color: #222;
$todolist-day-bd: #efefef;
