<form ng-submit="$ctrl.resetPassword($ctrl.data.formData.password)" id="auth-form" name="authForm" autocomplete="off">
  <input type="password" name="password" ng-model="$ctrl.data.formData.password" password-validator placeholder="New password" required>
  <input type="password" name="passwordConfirm" ng-model="$ctrl.data.formData.passwordConfirm" password-confirm-validator placeholder="Type password again" compare-to="$ctrl.data.formData.password" required>

  <p class="guidelines">Password must be at least 8 characters long, with at least one numeric value.</p>

  <button class="button medium float-center full-width" type="submit" ng-disabled="authForm.$invalid">Set password</button>

  <p ng-if="$ctrl.data.message" class="callout alert">{{$ctrl.data.message}}</p>
</form>
