<form ng-submit="$ctrl.forgetPassword($ctrl.data.formData.email)" id="auth-form" name="authForm" autocomplete="off">
  <input type="email" name="email" ng-model="$ctrl.data.formData.email" class="" placeholder="Email" required="" email-validator>

  <p><i>Check your inbox for instructions from us on how to reset your password.</i></p>

  <button class="button medium float-center full-width" type="submit" ng-disabled="authForm.$invalid">Reset password</button>

  <div class="links-container">
    <p><a href="#" ui-sref="auth.signin">Go back</a></p>
  </div>
</form>
