<form ng-submit="$ctrl.setPassword($ctrl.data.formData.email, $ctrl.data.formData.password)" id="auth-form" name="authForm" autocomplete="off">
  <p><i>Set a password and get straight in, or check your email for a login link.</i></p>

  <input type="hidden" name="email" ng-model="$ctrl.data.formData.email">
  <input type="password" name="password" ng-model="$ctrl.data.formData.password" password-validator placeholder="Password (optional)" required>

  <p class="guidelines">Password must be at least 8 characters long, with at least one numeric value.</p>

  <p vc-recaptcha key="'6LeCfyUTAAAAAPx6V1Fu36CxISlRWJp5q2tNTmms'" ng-model="$ctrl.data.formData.myRecaptchaResponse" ng-if="$ctrl.data.attempt > 4"></p>

  <button class="button medium float-center full-width" type="submit" ng-disabled="authForm.$invalid">Set password</button>

  <p ng-if="$ctrl.data.message" class="callout alert">{{$ctrl.data.message}}</p>
</form>
