 @import "~less/variables.less";
 #__wikibuy__ .__wikibuy {
  .verify-account {
    padding: 10px;
    h2 {
      margin-bottom: 10px;
    }
    a {
      text-decoration: none;
    }
    .primary-btn-large {
      width: 100%;
      margin-bottom: 20px;
    }
    p {
      font-size: 18px;
      line-height: 26px;
      color: @gray;
      margin-bottom: 20px;
    }
  }
}