<div class="box-crop">
 	<div class="resizer line line-n" data-zone="u"></div>
    <div class="resizer line line-s" data-zone="d"></div>
    <div class="resizer line line-w" data-zone="l"></div>
    <div class="resizer line line-e" data-zone="r"></div>
    <div class="resizer point point-nw" data-zone="lu"></div>
    <div class="resizer point point-n" data-zone="u"></div>
    <div class="resizer point point-ne" data-zone="ru"></div>
    <div class="resizer point point-sw" data-zone="ld"></div>
    <div class="resizer point point-s" data-zone="d"></div>
    <div class="resizer point point-se" data-zone="rd"></div>
    <div class="resizer point point-w" data-zone="l"></div>
    <div class="resizer point point-e" data-zone="r"></div>
    <div class="resizer bt-ext bt-crop">CROP</div>
</div>

<div class="box-init">
    <div class="box-nw">
        <div class="crop-animate">
            <svg width="16" height="16" viewBox="0 0 1664 1664" xmlns="http://www.w3.org/2000/svg">
                <path d="M557 1152h595V557l-595 595zm-45-45l595-595H512v595zm1152 77v192c0 9.334-3 17-9 23s-13.667 9-23 9h-224v224c0 9.334-3 17-9 23s-13.667 9-23 9h-192c-9.334 0-17-3-23-9s-9-13.666-9-23v-224H288c-9.334 0-17-3-23-9s-9-13.666-9-23V512H32c-9.334 0-17-3-23-9s-9-13.666-9-23V288c0-9.333 3-17 9-23s13.666-9 23-9h224V32c0-9.333 3-17 9-23s13.666-9 23-9h192c9.333 0 17 3 23 9s9 13.667 9 23v224h851L1609 9c6.666-6 14.333-9 23-9 8.666 0 16.333 3 23 9 6 6.667 9 14.334 9 23 0 8.667-3 16.334-9 23l-247 246v851h224c9.333 0 17 3 23 9s9 13.667 9 23z"></path>
            </svg>
        </div>
    </div>
    <div class="box-sw">
      <div class="bt-ext bt-cancel">Cancel</div>
    </div>
</div>