.section{
	font-size: 15px;
	margin-top: 10px;
}

.optionDiv{
	margin-top: 5px;
	margin-left: 10px;
}

#saveDiv {
	margin-top: 10px;
	margin-bottom: 10px;
	float:right;
}

#status {
	margin-top: 10px;
}

input[type=checkbox].option {
							position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
						}

						input[type=checkbox].option + label.css-label {
							padding-left:29px;
							height:15px; 
							display:inline-block;
							line-height:15px;
							background-repeat:no-repeat;
							background-position: 0 0;
							font-size:14px;
							vertical-align:middle;
							cursor:pointer;

						}

						input[type=checkbox].option:checked + label.css-label {
							background-position: 0 -15px;
						}
						label.css-label {
				background-image:url('chrome-extension://__MSG_@@extension_id__/icons/checkbox.png');
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
			
			.optionDiv {
				margin-top: 5px;
				text-align: left;
				font-size: 12px;
			}
			
			.span4{
/* 				float: right; */
			}