#s2s {
    z-index: 2147483646;
    /**
     * This is to create a new stacking context
     * so s2s menu can be rendered w/o hiding
     */
    font-smoothing: antialiased;
    -moz-user-select:-moz-none;
    -khtml-user-select:none;
    -webkit-user-select:none;
}

#s2s .s2s-hide {
    display:none;
}

/* === Flyout Menu (prototype circle style) === */
#s2s.degrade #s2s-flyout.s2s-flyout-row {
    position: absolute;
    display: none;
    z-index: 1;
    -moz-opacity: 0.90;
    -khtml-opacity: 0.90;
    opacity: 0.90;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=90);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
    filter:alpha(opacity=90);
}

#s2s.degrade #s2s-flyout.s2s-flyout-row.open {
    display: block;
    -webkit-transform:translate(0px, 0px);
    -moz-transform:translate(0px, 0px);
    -ms-transform:translate(0px, 0px);
    -o-transform:translate(0px, 0px);
    transform:translate(0px, 0px);
}

#s2s #s2s-flyout.s2s-flyout-row {
    /*background: #3775DD;*/
    position: absolute;
    z-index: 1;
    -moz-opacity: 0.00;
    -khtml-opacity: 0.00;
    opacity: 0.00;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter:alpha(opacity=0);
    /*transition*/
    -webkit-transition:transform 0.3s, opacity 0.15s, ease;
    -moz-transition:transform 0.3s, opacity 0.15s, ease;
    -o-transition:transform 0.3s, opacity 0.15s, ease;
    transition:transform 0.3s, opacity 0.15s, ease;
    z-index: -1000;
}

#s2s #s2s-flyout.s2s-flyout-row.open {
    /*-moz-opacity: 0.90;
    -khtml-opacity: 0.90;
    opacity: 0.90;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=90);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
    filter:alpha(opacity=90);*/
    -moz-opacity: 1.00;
    -khtml-opacity: 1.00;
    opacity: 1.00;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter:alpha(opacity=100);
    -webkit-transform:translate(0px, -46px);
    -moz-transform:translate(0px, -46px);
    -ms-transform:translate(0px, -46px);
    -o-transform:translate(0px, -46px);
    transform:translate(0px, -46px);
    z-index: 2147483646;

    /*Added while creating an independent chrome extension for CE*/
    background-color: transparent;
    border: 0px;
    padding: 0px;
}

#s2s #s2s-flyout.s2s-flyout-row.bottom.open {
    -webkit-transform:translate(0px, 46px);
    -moz-transform:translate(0px, 46px);
    -ms-transform:translate(0px, 46px);
    -o-transform:translate(0px, 46px);
    transform:translate(0px, 46px);
}

#s2s #s2s-flyout.s2s-flyout-row ul {
    padding:0;
    margin:0;
    /*added for mockup*/
    position: absolute;
    top: 12px;
    left: -25px;
}

#s2s #s2s-flyout.s2s-flyout-row li {
    list-style: none;
    /*background: #3775DD;*/
    width: 95px;
    float: left;
    /*padding: 4px 0 4px 0;*/
}

#s2s #s2s-flyout.s2s-flyout-row li a {
    -webkit-tap-highlight-color: hsla(0,0%,0%,0.0);
    width: 95px;
    height: 32px;
    overflow: hidden;
    cursor: pointer;
    float: left;
    /*border-left: 1px solid #779ff7;*/
}

#s2s #s2s-flyout.s2s-flyout-row li a span {
    /*background-image: url('icons/ce_search.png');*/
    background-image: url('chrome-extension://__MSG_@@extension_id__/icons/ce_search.png');
    background-repeat:  no-repeat;
    width: 95px;
    height: 32px;
    position: absolute;
    /*margin: 6px 10px;*/
    transition: all .2s ease-in-out;
}

#s2s #s2s-flyout.s2s-flyout-row li a:hover span {
    /*-moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2)*/
}

#s2s .fixed {
    position: fixed !important;
    left: inherit;
    right: inherit;
}

/*#searchlight-search a span {
    background-position: 0 0;
}
#searchlight-search.active a span, #searchlight-search a:hover span {
    background-position: 0 0;
}
#searchlight-images a span {
    background-position: -20px 0;
}
#searchlight-images.active a span, #searchlight-images a:hover span {
    background-position: -20px 0;
}
#searchlight-video a span{
    background-position: -40px 0;
}
#searchlight-video.active a span, #searchlight-video a:hover span{
    background-position: -40px 0;
    margin-top: 8px !important;
}*/
.cap-annotation_s2s:hover{cursor:pointer; background:#b2d3ff;}
.cap-annotation_s2s.active{cursor:pointer; background:#b2d3ff;}
.cap-annotation_s2s{text-decoration:none; background:#d3d3d3;}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.1),
only screen and (min--moz-device-pixel-ratio: 1.1),
only screen and (-o-min-device-pixel-ratio: 1.1/1),
only screen and (min-device-pixel-ratio: 1.1) {

    #s2s #s2s-flyout.s2s-flyout-row li a span {
        /*background-size: 80px 75px;*/
        background-size: 95px 32px;
    }
    /*#searchlight-search a span {
        background-position: 0 -25px;
    }
    #searchlight-search.active a span, #searchlight-search a:hover span {
        background-position: 0 -25px;
    }
    #searchlight-images a span {
        background-position: -20px -25px;
    }
    #searchlight-images.active a span, #searchlight-images a:hover span {
        background-position: -20px -25px;
    }
    #searchlight-video a span{
        background-position: -40px -25px;
    }
    #searchlight-video.active a span, #searchlight-video a:hover span{
        background-position: -40px -25px;
    }*/

    #s2s #s2s-flyout.s2s-flyout-row li a span {
        /*background-image: url('icons/ce_retina_search.png');
        */
        background-repeat:  no-repeat;
        width: 95px;
        height: 32px;
        position: absolute;
        /*margin: 6px 10px;*/
        transition: all .2s ease-in-out;
    }

}

/*#s2s .dialog-box:before {
    content: ' ';
    position: absolute;
    margin-left: -10px;
    border-style: solid;
    border-width: 10px;
    width: 0;
    height: 0;
}

#s2s .dialog-box.top:before {
    top: 100%;
    left: 50%;
    border-color: #21487F transparent transparent transparent;
}
#s2s .dialog-box.bottom:before {
    top: 0;
    left: 50%;
    border-color: transparent transparent transparent transparent;
    margin-top: -20px;
}
#s2s .dialog-box {
    width: 40px;
    border-radius: 6px;
    border-bottom: 2px solid #21487F;
}

#s2s .dialog-box:after {
    content: ' ';
    position: absolute;
    margin-left: -7px;
    border-style: solid;
    border-width: 7px;
    width: 0;
    height: 0;
}

#s2s .dialog-box.top:after {
    top: 100%;
    left: 50%;
    border-color: #3775DD transparent transparent transparent;
}
#s2s .dialog-box.bottom:after {
    top: 0;
    left: 50%;
    border-color: transparent transparent #3775DD transparent;
    margin-top: -14px;
}
#s2s .blr4 {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-left-width: 0 !important;
}
#s2s .brr4 {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}*/

#s2s #hover-mask {
    position: absolute;
    width: 90px;
    height: 106px;
    top: -30px;
    left: -25px;
}