@import "~less/variables.less";
#__wikibuy__ .__wikibuy {
  .wb-cash-back-block-section {
    position: relative;
    border-bottom: 1px solid #dedede;
    padding: 20px 0;
    margin-bottom: 20px;
    h2 {
      font-weight: bold;
    }
    .full-button {
      width: 100%;
      margin-top: 10px;
      font-weight: bold;
    }
    .full-button-coupons {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .codes {
      margin-top: 10px;
    }
    .code {
      padding-bottom: 5px;
      cursor: pointer;
      &:hover {
        color: @midnight;
      }
    }
    .green {
      color: @palmetto;
    }
    .bold {
      .defaultBold;
    }
  }
}