/* Additional CSS for About page */

h1, h2, h3, h4 {
  padding: 0 0 .2em;
}

input[type=checkbox] {
  margin: 0;
}

p {
  text-align: left;
}

#container {
  width: 800px;
}

#header {
  height: 40px;
}

#main {
  padding: 0.2em 0 0 60px;
}

#title {
  padding: 1em 0 0.5em;
}

#close {
  clear: both;
  margin-top: 1em;
  text-align: left;
}

.logo {
  margin: 16px 0 0 -60px;
}

.screenshot {
  float: right;
  padding-left: 1em;
}
