@import "~less/variables.less";
#__wikibuy__ .__wikibuy .option-select-component {
  display: flex;
  align-items: center;
  .defaultRegular;
  .native-select-wrapper {
    position: relative;
    cursor: pointer;
    select {
      background: transparent;
      width: auto;
      padding: 0 5px;
      padding-right: 0;
      font-size: 14px;
      line-height: 1;
      height: 42px;
      -webkit-appearance: none;
      -moz-appearance: none;
      min-width: 170px;
      border: none;
      border-radius: 6px;
      background-color: @steam;
      color: @charcoal;
      position: relative;
      outline: 0;
      cursor: pointer;
      padding-right: 24px;
    }
    &:after {
      content: "";
      pointer-events: none;
      width: 0; 
      top: 50%;
      margin-top: -2px;
      bottom: 0;
      height: 0; 
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid @silver;
      position: absolute;
      right: 8px;
    }
    &.pla-select {
      select {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        min-width: 100%;
        width: 100%;
      }
    }
  }
  .Select {
    background: transparent;
    width: auto;
    padding: 0px;
    padding-right: 0;
    line-height: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 170px;
    color: @charcoal;
    position: relative;
    border: none !important;
    z-index: 1;
    .Select-control {
      border: none !important;
      border-radius: 2px;
      font-size: 14px;
      border-radius: 6px;
      height: 42px;
      background: @steam;
      color: @charcoal;
      box-shadow: none;
      z-index: 1;
      cursor: pointer;
      border: 1px solid transparent !important;
      transition: all 0.3s ease;
      &:hover {
        border: 1px solid fade(@steam, 100) !important;
        background: #fafafa !important;
      }
    }
    .Select-placeholder, .Select--single > .Select-control .Select-value {
      line-height: 42px;
      color: @charcoal;
      outline: none;
    }
    .Select-input {
      height: 40px;
      outline: none;
      color: @charcoal;
      & > input {
        padding: 0;
        line-height: 42px;
        height: 42px;
      }
    }
    .Select-clear {
      font-size: 14px;
      color: @charcoal;
    }
    .Select-menu-outer {
      font-size: 14px;
      border: none;
      width: 100%;
      max-width: 100%;
      animation: ssin .3s ease;
      z-index: 0;
      background: #fdfdfd !important;
      border: 1px solid fade(@steam, 100) !important;
      ::-webkit-scrollbar {
        display: none;
      }
    }
    .Select-value-label {
      color: @charcoal;
      display: block;
      height: 100%;
      display: flex;
      align-items: center;
      padding-top: 2px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      * {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .Select-arrow-zone {
      height: 30px;
      max-height: 30px;
      padding: 0;
    }
    .Select-arrow {
      top: 0 !important;
      border: none;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 20px;
      width: 20px;
      &:before {
        content: "";
        width: 0; 
        height: 0; 
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 5px solid #a3a3a3;
      }

      &:after {
        content: "";
        width: 0; 
        height: 0; 
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 5px solid #a3a3a3;
        margin-top: 3px;
      }
    }
    &.is-focused .Select-value-label {
      color: @silver !important;
    }
    &.has-value.is-pseudo-focused .Select-value-label {
      color: @charcoal !important;
    }
    .Select-option {
      color: @midnight;
      width: 100%;
      max-width: 100%;
    }
    .Select-option.is-focused {
      background: @steam !important;
    }
    .Select-placeholder, .Select-value {
      right: 30px;
    }
    .Select-option:hover {
      background: fade(@steam, 60) !important;
    }
    .Select-option.is-selected  {
      background: fade(@steam, 40) !important;
    }
    .Select-clear-zone {
      display: none;
    }
  }

  @keyframes spinneroptionloading {
    to {transform: rotate(360deg);}
  }

  @keyframes ssin {
    from {opacity: 0; transform: translate3d(0, -5px, 0);}
    to {opacity: 1;  transform: translate3d(0, 0, 0);}
  }

  .loading-wrapper {
    position: relative;
    height: 42px;
    width: 42px;
    margin-left: -28px;
    .spinner-option {
      position: absolute;
      height: 42px;
      width: 42px;
      top: 0;
    }
    .spinner-option:before {
      content: '';
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 15px;
      height: 15px;
      margin-top: -8px;
      margin-left: -10px;
      border-radius: 50%;
      border: 2px solid @silver;
      border-top-color: @silver;
      animation: spinneroptionloading .6s linear infinite;
    }
  }

  &.loading {
    pointer-events: none;
    .Select .Select-arrow {
     display: none;
    }
    .native-select-wrapper:after {
      display: none;
    }

  }
}