@import "~less/variables.less";
#__wikibuy__ .__wikibuy {
  .product-page-image-wrapper {
    .product-page-image {
      min-height: 125px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50%;
      margin: 0 auto 5px;
      position: relative;
    }
  }
}