<div class="top-decor-line"></div>

<div class="cp-hello-bg">
  <div class="cp-hello-wrapper">

    <!--<cp-auth-header></cp-auth-header>-->
    <div style="display:block; width: 100%; height: 100px"></div>

    <div class="cp-hello-content">

      <!--<h1 id="cp-hello-hello">Hello</h1>-->

      <h2 id="cp-hello-name">Choose Account</h2>

      <div class="cp-hello-form-wrapper">
        <div class="cp-hello-form">

          <div class="cp-hello-list-name" ng-repeat="user in authCtrl.users track by $index">
            <button ng-if="user.displayName" class="cp-hello-primary cp-hello-primary-user btn btn-block"
                    ng-click="authCtrl.userSelectedClick(user)">{{user.displayName}}
            </button>
            <button ng-if="!user.displayName && user.userProvidedName"
                    class="cp-hello-primary cp-hello-primary-user btn btn-block"
                    ng-click="authCtrl.userSelectedClick(user)">{{user.userProvidedName}}
            </button>
            <button ng-if="!user.displayName && !user.userProvidedName && user.email"
                    class="cp-hello-primary cp-hello-primary-user btn btn-block"
                    ng-click="authCtrl.userSelectedClick(user)">{{user.email}}
            </button>
            <button ng-if="!user.displayName && !user.userProvidedName && !user.email"
                    class="cp-hello-primary cp-hello-primary-user btn btn-block"
                    ng-click="authCtrl.userSelectedClick(user)">guest user
            </button>
          </div>

          <div class="form-group cp-hello-secondary-action-wrapper" style="margin-top: 15px; padding: 0 20px">
            <a ng-click="authCtrl.userSelectedClick({}, 'signin')" class="cp-hello-inline pull-left">Add Account</a>
            <a ng-click="authCtrl.userSelectedClick({}, 'hello')" class="cp-hello-inline pull-right">Create New</a>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>
