<div class="h10-overlay">


    <div class="container6 profitabily-calculator-modal">
        <div class="top-tabs">
            <span id="h10-profitabily-calculator"> Profitability Calculator</span>
            <a href="#" class="close-btn">
                <img id="close-icon" src="<%= close %>" style="height:36px;vertical-align: middle;"/>
            </a>
        </div>
        <div class="content-div" id="profitabily-calculator-tab">
            <div class="container">

            </div>
        </div>

    </div>

</div>
