#__wikibuy__ .__wikibuy {
  .gear-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    svg path {
      fill: #adb9bf;
    }
  }
}
