body{
	margin:0px;
	height:450px;
}
	/* unvisited link */
a:link {
    color: #fff;
}

/* visited link */
a:visited {
    color:  #fff;
}

/* mouse over link */
a:hover {
    color:  #fff;
}

/* selected link */
a:active {
    color:  #fff;
}
